.privacy-policy,
.privacy-policy-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.privacy-policy {
	padding: 1em;
	width: 100%;
	overflow: hidden;
}

.privacy-policy-container {
	width: 100%;
	padding-top: 40px;
}

.privacy-policy-title {
	padding-bottom: 2rem;
	margin-right: 6px;
	max-width: 400px;
	font-size: 2.5rem;
	text-align: left;
	font-weight: 300;
}

.privacy-policy-box {
	padding: 1em 0;
	width: 100%;
	max-width: 400px;
	line-height: 1.8em;
}

.privacy-policy-box h2 {
	padding: 1em 0;
	font-weight: 350;
	font-style: italic;
	font-size: 1.2em;
}

.privacy-policy-box p,
.privacy-policy-box ul {
	font-weight: 300;
}

.privacy-policy-box ul {
	padding-top: 0.25em;
	padding-left: 1.3em;
}

.privacy-policy-box ul > li {
	padding: 0.25em 0;
}

.privacy-policy-box a {
	color: var(--white-color);
	text-underline-offset: 2px;
	transition: color 0.3s;
}

.privacy-policy-cookie-box-ul {
	padding-bottom: 1em;
}

.privacy-policy-btn {
	display: block;
	padding: 0.75em 3.5em;
	margin: 3em 0;
	color: var(--white-color);
	background-color: var(--pink-color);
	border: none;
	border-radius: 2em;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s;
	cursor: pointer;
	z-index: 10;
}

.privacy-policy-btn:active {
	transform: translateY(1px);
}

@media screen and (min-width: 350px) {
	.privacy-policy-title {
		font-size: 2.75rem;
	}
}

@media screen and (min-width: 500px) {
	.privacy-policy-btn {
		padding: 1em 4em;
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.privacy-policy-btn {
		padding: 0.8em 0;
		max-width: 280px;
		width: 280px;
	}
}

@media screen and (min-width: 1024px) {
	.privacy-policy-title {
		width: 480px;
		max-width: 480px;
		margin-right: 0;
		font-size: 3rem;
	}

	.privacy-policy-box {
		max-width: 480px;
		font-size: 1.1em;
	}

	.privacy-policy-box a:hover {
		color: var(--light-pink-color);
	}

	.privacy-policy-box a:active {
		opacity: 0.55;
	}

	.privacy-policy-btn {
		margin: 4em 0;
		font-size: 1.1em;
	}

	.privacy-policy-btn:hover {
		background-color: var(--blue-color);
	}
}

@media screen and (min-width: 1720px) {
	.privacy-policy-title {
		width: 805px;
		max-width: 805px;
	}

	.privacy-policy-box {
		max-width: 800px;
	}
}
