.contact {
	padding-top: 30px;
	margin-bottom: 3rem;
	width: 100%;
	overflow: hidden;
}

.contact-container,
.contact-title-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contact-title {
	padding-bottom: 2.5rem;
	font-family: var(--special-font);
	font-size: 4.5rem;
	font-weight: 300;
	text-align: center;
}

.contact-title-box,
.contact-form {
	width: 100%;
}

.contact-title-box,
.contact-form {
	max-width: 600px;
}

.contact-title-box {
	position: relative;
	padding-bottom: 2.5rem;
}

.contact-title-subtext,
.contact-title-info-box {
	padding: 1em 0.2em;
	width: 90%;
}

.contact-title-subtext {
	line-height: 1.8em;
	font-weight: 300;
}

.contact-title-subtext span {
	font-weight: 500;
}

.contact-title-subtext a {
	color: var(--white-color);
	text-underline-offset: 2px;
	transition: color 0.3s;
}

.contact-title-info-box {
	list-style-type: none;
}

.contact-title-info-box li {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 0.5em 0;
	width: 100%;
}

.contact-title-info-box li div:first-of-type {
	display: block;
	margin-right: 20px;
}

.contact-title-info-box li div:first-of-type svg {
	font-size: 28px;
}

.contact-title-info-box li:nth-of-type(2) div svg {
	margin-top: 10px;
}

.contact-title-info-box p {
	padding: 0.25rem 0;
	font-weight: 300;
}

.contact-title-info-box p:first-of-type {
	font-weight: 600;
}

.contact-title-info-box a {
	color: var(--white-color);
	text-underline-offset: 2px;
	transition: color 0.3s;
}

.contact-title-icon {
	display: none;
}

@media screen and (max-width: 300px) {
	.contact-title-info-box li {
		align-items: start;
		flex-direction: column;
	}
}

@media screen and (min-width: 400px) {
	.contact-title-info-box,
	.contact-title-subtext {
		padding: 1em 0;
		width: 84%;
	}
}

@media screen and (min-width: 640px) {
	.contact-title {
		font-size: 5.5rem;
	}
}

@media screen and (min-width: 990px) {
	.contact-title {
		font-size: 6.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.contact-title-subtext a:hover,
	.contact-title-info-box a:hover {
		color: var(--pink-color);
	}

	.contact-title-subtext a:active,
	.contact-title-info-box a:active {
		opacity: 0.55;
	}
}

@media screen and (min-width: 1358px) {
	.contact {
		padding-top: 50px;
	}

	.contact-container,
	.contact-title-box {
		align-items: start;
	}

	.contact-container {
		flex-direction: row;
	}

	.contact-title-box {
		position: relative;
		display: flex;
		justify-content: center;
		margin-left: 4rem;
	}

	.contact-title,
	.contact-title-subtext {
		text-align: left;
	}

	.contact-title {
		padding: 0.5rem 0.85rem 0 0.9rem;
		width: 100%;
	}

	.contact-title-info-box p,
	.contact-title-subtext {
		font-size: 1.1rem;
	}

	.contact-title-subtext {
		padding: 2rem 4rem 1rem 1rem;
	}

	.contact-title-info-box {
		padding: 2rem 2.25rem 2rem 1.55rem;
		max-width: 400px;
		justify-content: start;
		font-size: 1.1rem;
	}

	.contact-title-info-box li div:first-of-type {
		margin-left: -9px;
	}

	.contact-form {
		padding-top: 2rem;
		margin-right: 2.5rem;
	}

	.contact-title-icon {
		position: absolute;
		display: block;
		color: rgba(255, 255, 255, 0.15);
	}

	.contact-title-icon--first {
		bottom: -0.9em;
		left: 5.4em;
	}

	.contact-title-icon--second {
		bottom: -1.8em;
		left: 6.9em;
	}

	.contact-title-icon--third {
		bottom: -0.2em;
		left: 9em;
	}
}

@media screen and (min-width: 1720px) {
	.contact-title-box {
		margin-left: 2em;
	}
}
