.loader {
	margin: 1.185em 0;
}

.loader-spinner {
	position: relative;
	width: 1em;
	height: 1em;
	font-size: 45px;
	border-radius: 50%;
	animation: spin-animation 1.7s infinite ease, round-animation 1.7s infinite ease;
	overflow: hidden;
}

@media screen and (min-width: 1024px) {
	.loader {
		margin: 1.435em 0;
	}
}
