.aerograph,
.aerograph-text-content-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.aerograph {
	position: relative;
	padding: 30px 0 40px;
	width: 100%;
	overflow-x: hidden;
}

.aerograph-title {
	padding-bottom: 2.5rem;
	font-family: 'Lavishly Yours', 'cursive';
	font-size: 4.5rem;
	font-weight: 300;
	text-align: center;
}

.aerograph-text-content {
	padding-bottom: 1em;
}

.aerograph-text-content-box {
	margin: 2em;
	padding: 2em 0.5em 0;
	max-width: 400px;
	border: none;
	border-radius: 1.5em;

	-webkit-box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.45);
	-moz-box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.45);
	box-shadow: 0px 0px 10px 2px rgba(25, 50, 63, 0.45);
}

.aerograph-text-content-box h3 {
	padding: 1em;
	font-size: 1.5em;
	font-weight: 200;
	font-style: italic;
	text-align: center;
}

.aerograph-text-content-box p {
	padding: 0 0.75em 2em;
	text-align: center;
	font-weight: 350;
	line-height: 1.6em;
}

.aerograph-text-content-box p span {
	font-weight: 700;
}

.aerograph-special-block {
	position: absolute;
	bottom: 0;
	width: 40%;
	height: 40px;
	background-color: #c4c4c4;
}

.aerograph-special-block--left {
	left: -50px;
	transform: skew(45deg);
}

.aerograph-special-block--right {
	right: -50px;
	transform: skew(-45deg);
}

@media screen and (min-width: 640px) {
	.aerograph-title {
		font-size: 5.5rem;
	}
}

@media screen and (min-width: 768px) {
	.aerograph-text-content-box {
		max-width: 425px;
	}

	.aerograph-special-block {
		width: 35%;
		height: 50px;
	}
}

@media screen and (min-width: 990px) {
	.aerograph-title {
		font-size: 6.5rem;
	}
}

@media screen and (min-width: 1024px) {
	.aerograph {
		padding-bottom: 3rem;
	}

	.aerograph-text-content {
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding-bottom: 3em;
		max-width: 1000px;
	}
}

@media screen and (min-width: 1358px) {
	.aerograph {
		padding-top: 50px;
	}

	.aerograph-title {
		padding: 0.5rem 0.85rem 2rem;
		width: 100%;
	}

	.aerograph-special-block {
		width: 42%;
		height: 45px;
	}
}
