.form-box,
.form-recaptcha-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.form-box {
	padding: 1em;
}

.form-recaptcha-box {
	padding: 1em 0 1em 4px;
}

.form-recaptcha-box div div div div iframe {
	border: 1px solid transparent;
	border-radius: 0.35em;
}

.form-label {
	padding-bottom: 0.25em;
	width: 100%;
	text-align: start;
}

.form-input,
.form-textarea {
	padding: 0.95em 3.25em 0.95em 0.75em;
	width: 100%;
	color: #fbfbfb;
	background-color: transparent;
	border: 1px solid #fbfbfb;
	font-family: 'Sour Gummy', sans-serif;
	font-size: 0.9em;
	letter-spacing: 1px;
	transition: border 0.3s;
}

.form-textarea {
	height: 200px;
	min-height: 120px;
	max-height: 300px;
	resize: vertical;
}

.form-input:focus,
.form-textarea:focus {
	border-color: #23a1b4;
	outline: #23a1b4;
}

.form-input::placeholder,
.form-textarea::placeholder {
	color: #8a8989;
	opacity: 1;
}

.form-input-error,
.form-textarea-error,
.form-recaptcha-error {
	color: #c80c59;
	text-align: center;
}

.form-input-error,
.form-textarea-error {
	padding-top: 0.25em;
	height: 1em;
	width: 100%;
	font-size: 0.9em;
	visibility: hidden;
}

.form-textarea-error {
	font-size: 0.95em;
}

.form-recaptcha-error {
	padding: 8px;
	height: 2px;
	width: 90%;
	font-size: 0.95em;
}

.form-recaptcha-box-error div div div div iframe {
	border: 3px solid #c80c59;
}

form input:invalid[focused='true'] ~ span,
form textarea:invalid[focused='true'] ~ span {
	visibility: visible;
}

form input:invalid[focused='true'],
form textarea:invalid[focused='true'] {
	border: 1px solid #c80c59;
}

.form-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75em 3.5em;
	margin: 1em 1em 1.25em;
	color: #fbfbfb;
	background-color: #c80c59;
	border: none;
	border-radius: 2em;
	font-size: 1em;
	font-family: 'Sour Gummy', sans-serif;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s;
	cursor: pointer;
	z-index: 10;
}

@media screen and (min-width: 400px) {
	.form-input,
	.form-textarea,
	.form-label {
		width: 90%;
	}
}

@media screen and (min-width: 500px) {
	.form-recaptcha-box {
		padding: 1em 0;
	}

	.form-submit {
		padding: 1em 4m;
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.form-submit {
		padding: 0.8em 0;
		max-width: 220px;
		width: 220px;
	}
}

@media screen and (min-width: 1024px) {
	.form-label,
	.form-submit {
		font-size: 1.1em;
	}

	.form-input-error {
		font-size: 0.95em;
	}

	.form-textarea-error,
	.form-recaptcha-error {
		font-size: 1em;
	}

	.form-submit:hover {
		background-color: #23a1b4;
	}
}
