@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Mulish', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
}

.title-font {
	font-family: 'Dancing Script', cursive;
}

.bg-gradient {
	background-color: rgb(211, 124, 177);
	background-image: linear-gradient(140deg, rgba(211, 124, 177, 1) 0%, rgba(51, 115, 198, 1) 100%);
	background-size: cover;
	background-position: center;
}

.text-gradient {
	background-color: rgb(41, 41, 41);
	background-image: linear-gradient(142deg, rgb(216, 216, 216) 0%, rgb(190, 190, 190) 50%, rgb(206, 206, 206) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.white-gradient {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 16px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.blue-gradient {
	background: rgba(51, 115, 198, 0.664);
	border-radius: 16px;
	box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.card {
	background: rgb(185, 28, 28);
	background: radial-gradient(circle, rgba(185, 28, 28, 1) 0%, rgba(27, 34, 79, 1) 43%, rgba(185, 28, 28, 1) 100%);
}

.card-1,
.card-2,
.card-3 {
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
	background-position: center;
}

.card-1 {
	background-image: url('/src/images//paintings-card.jpg');
}

.card-2 {
	background-image: url('/src/images/shoes-card.jpg');
}

.card-3 {
	background-image: url('/src/images/bookmarks-card.jpg');
}

.active {
	color: #ff91d8;
}

form span {
	visibility: hidden;
}

form input:invalid[focused='true'] ~ span,
form textarea:invalid[focused='true'] ~ span {
	visibility: visible;
}

form input:invalid[focused='true'],
form textarea:invalid[focused='true'] {
	border: 1px solid #ff91d8;
}
