@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	font-family: 'Sour Gummy', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
}

.hero-bg {
	background-image: url('./images/hero-image-section/hero-bg.jpg');
}

.hero-bg h1 {
	font-family: 'Lavishly Yours', 'cursive';
}

.hero-bg-arrow {
	position: absolute;
	bottom: 2em;
	left: 48.7%;
	padding: 0.25em;
	animation: bounce 2s infinite;
}

/* Bounce animations */

@keyframes bounce {
	50% {
		transform: translateY(-25px);
	}
}

/* Gallery mosaic */

.image-mosaic {
	display: grid;
	row-gap: 1rem;
	column-gap: 0;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 240px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1);
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transition: all 500ms;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	z-index: 10;
}

.card-with-bg {
	background-color: #353535;
	animation: loading 1s infinite alternate;
}

@keyframes loading {
	to {
		background-color: #6d6d6d;
	}
}

/* ---------------------------------------- */

.input-gradient {
	background: rgba(35, 161, 180, 0.8);
	border-radius: 16px;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 2px solid rgba(35, 161, 180, 0.2);
}

form span {
	visibility: hidden;
}

form input {
	scroll-margin-top: 120px;
}

form input:invalid[focused='true'] ~ span,
form textarea:invalid[focused='true'] ~ span {
	visibility: visible;
}

form input:invalid[focused='true'],
form textarea:invalid[focused='true'] {
	border: 2px solid #c80c59;
}

@media screen and (min-width: 500px) {
	.image-mosaic {
		gap: 1rem;
	}
}

@media screen and (min-width: 600px) {
	.card-tall {
		grid-row: span 2 / auto;
	}

	.card-wide {
		grid-column: span 2 / auto;
	}
}

@media screen and (min-width: 1024px) {
	.hero-bg {
		background-image: url('./images/hero-image-section/hero-bg-xl.jpg');
	}
}
