*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	background-color: #072028;
	color: #e9e9e9;
	font-family: 'Sour Gummy', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Gallery mosaic */

.image-mosaic {
	display: grid;
	row-gap: 1rem;
	column-gap: 0;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-auto-rows: 240px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	color: #fff;
	box-shadow: rgba(3, 8, 20, 0.1);
	border-radius: 4px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: all 500ms;
	overflow: hidden;
	z-index: 10;
}

.card-with-bg {
	background-color: #353535;
	animation: loading 2.5s alternate infinite;
}

@media screen and (min-width: 500px) {
	.image-mosaic {
		gap: 1rem;
	}
}

@media screen and (min-width: 580px) {
	.card-tall {
		grid-row: span 2 / auto;
	}

	.card-wide {
		grid-column: span 2 / auto;
	}
}

@keyframes loading {
	to {
		background-color: #6d6d6d;
	}
}
