.form-box,
.form-recaptcha-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.form-box {
	padding: 1em;
}

.form-recaptcha-box {
	padding: 1em 0 1em 4px;
}

.form-recaptcha-box div div div div iframe {
	border: 1px solid transparent;
	border-radius: 0.35em;
}

.form-label {
	padding-bottom: 0.25em;
	width: 100%;
	text-align: start;
}

.form-input,
.form-textarea {
	padding: 0.95em 0.75em;
}

.form-input,
.form-select,
.form-textarea {
	width: 100%;
	color: var(--white-color);
	background-color: transparent;
	border: 1px solid var(--white-color);
	font-family: var(--default-font);
	font-size: 0.9em;
	letter-spacing: 1px;
	transition: border 0.3s;
}

.form-select {
	padding: 0.95em 30px 0.95em 10px;
	font-size: 0.9em;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"292.4"%20height%3D"292.4"><path%20fill%3D"%23fbfbfb"%20d%3D"M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z"%2F><%2Fsvg>');
	background-repeat: no-repeat;
	background-position: right 0.9em top 50%;
	background-size: 0.65em auto;
	cursor: pointer;
}

.form-select option {
	color: var(--darker-sea-blue-color);
}

.form-textarea {
	height: 200px;
	min-height: 120px;
	max-height: 300px;
	resize: vertical;
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
	border-color: var(--blue-color);
	outline: var(--blue-color);
}

.form-input::placeholder,
.form-textarea::placeholder {
	color: #8a8989;
	opacity: 1;
}

.form-input-error,
.form-select-error,
.form-textarea-error,
.form-recaptcha-error {
	color: var(--pink-color);
	text-align: center;
}

.form-input-error,
.form-select-error,
.form-textarea-error {
	padding-top: 0.25em;
	height: 1em;
	width: 100%;
	font-size: 0.9em;
	visibility: hidden;
}

.form-textarea-error {
	font-size: 0.95em;
}

.form-recaptcha-error {
	padding: 8px;
	height: 2px;
	width: 90%;
	font-size: 0.95em;
}

.form-recaptcha-box-error div div div div iframe {
	border: 3px solid var(--pink-color);
}

form input:invalid[focused='true'] ~ span,
form select:invalid[focused='true'] ~ span,
form textarea:invalid[focused='true'] ~ span {
	visibility: visible;
}

form input:invalid[focused='true'],
form select:invalid[focused='true'],
form textarea:invalid[focused='true'] {
	border: 1px solid var(--pink-color);
}

.form-box-checkbox {
	width: 100%;
}

.form-box-checkbox div {
	display: flex;
	justify-content: space-between;
	align-items: start;
	flex-direction: row;
	width: 100%;
}

.form-box-checkbox input[type='checkbox'] {
	width: 18px;
	height: 18px;
}

.form-box-checkbox label {
	padding: 0 0.75em 0 0;
	color: var(--white-color);
	font-size: 0.75em;
	line-height: 1.6em;
	transition: color 0.3s;
}

.form-box-checkbox label a {
	color: var(--white-color);
	text-underline-offset: 2px;
	transition: color 0.3s;
}

.form-box-checkbox-error label {
	color: var(--pink-color);
}

.form-box-checkbox-error label a {
	color: var(--pink-color);
}

.form-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75em 3.5em;
	margin: 1em 1em 1.25em;
	width: 215px;
	color: var(--white-color);
	background-color: var(--pink-color);
	border: none;
	border-radius: 2em;
	font-size: 1em;
	font-family: var(--default-font);
	text-align: center;
	text-decoration: none;
	transition: background-color 0.3s;
	cursor: pointer;
	z-index: 10;
}

.form-submit:active {
	transform: translateY(1px);
}

.form-submit--is-loading {
	pointer-events: none;
}

.form-loader {
	height: 20.5px;
	aspect-ratio: 2.5;
	--_g: no-repeat radial-gradient(farthest-side, var(--white-color) 90%, #0000);
	background: var(--_g), var(--_g), var(--_g), var(--_g);
	background-size: 20% 50%;
	animation: loader-animation 1.5s infinite linear;
}

@media screen and (min-width: 400px) {
	.form-input,
	.form-select,
	.form-textarea,
	.form-label,
	.form-box-checkbox {
		width: 90%;
	}
}

@media screen and (min-width: 500px) {
	.form-recaptcha-box {
		padding: 1em 0;
	}

	.form-submit {
		padding: 1em 4m;
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.form-submit {
		padding: 0.8em 0;
		max-width: 220px;
		width: 220px;
	}
}

@media screen and (min-width: 1024px) {
	.form-label,
	.form-submit {
		font-size: 1.1em;
	}

	.form-input-error,
	.form-select-error {
		font-size: 0.95em;
	}

	.form-textarea-error,
	.form-recaptcha-error {
		font-size: 1em;
	}

	.form-box-checkbox label a:hover {
		color: var(--pink-color);
	}

	.form-box-checkbox label a:active {
		opacity: 0.55;
	}

	.form-submit:hover {
		background-color: var(--blue-color);
	}

	.form-loader {
		height: 22.5px;
	}
}
