.motto,
.motto-container,
.motto-maintext {
	position: relative;
}

.motto {
	width: 100%;
	background-color: #0f4353;
	overflow: hidden;
}

.motto-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 4rem 0;
	margin: 0 auto;
	width: 100%;
	max-width: 2160px;
	text-align: center;
}

.motto-maintext {
	width: 66%;
	font-size: 1.875rem;
	line-height: 1.5em;
	font-weight: 500;
}

.motto-subtext {
	margin: 1.5em 0;
	font-style: italic;
	font-size: 1.35em;
	opacity: 0.8;
}

.motto-icon {
	display: none;
}

.motto-special-block {
	position: absolute;
	bottom: 0;
	width: 40%;
	height: 40px;
	background-color: #0b313e;
}

.motto-special-block--left {
	left: -50px;
	transform: skew(45deg);
}

.motto-special-block--right {
	right: -50px;
	transform: skew(-45deg);
}

@media screen and (min-width: 640px) {
	.motto-container {
		padding: 3rem 0;
	}
}

@media screen and (min-width: 768px) {
	.motto-maintext {
		font-size: 2.5rem;
	}

	.motto-special-block {
		width: 35%;
		height: 50px;
	}
}

@media screen and (min-width: 1024px) {
	.motto-maintext {
		font-size: 2.75rem;
	}
}

@media screen and (min-width: 1280px) {
	.motto-container {
		padding: 9rem 0;
	}
}

@media screen and (min-width: 1358px) {
	.motto-maintext {
		width: 100%;
	}

	.motto-container {
		max-width: 1080px;
	}

	.motto-icon {
		display: block;
		position: absolute;
		color: rgba(255, 255, 255, 0.15);
	}

	.motto-icon--first {
		top: 0.5em;
		left: -1.5em;
	}

	.motto-icon--second {
		top: 1.5em;
		right: -1.75em;
	}

	.motto-icon--third {
		bottom: 1.5em;
		left: 1em;
	}

	.motto-icon--fourth {
		bottom: 1em;
		right: 0.5em;
	}

	.motto-special-block {
		width: 42%;
		height: 45px;
	}
}

@media screen and (min-width: 1536px) {
	.motto-maintext {
		font-size: 3rem;
	}
}

@media screen and (min-width: 1720px) {
	.motto-icon--first {
		top: 0.75em;
		left: -3em;
	}

	.motto-icon--second {
		top: 1.5em;
		right: -3em;
	}

	.motto-icon--third {
		bottom: 2em;
		left: 0.25em;
	}

	.motto-icon--fourth {
		bottom: 0.75em;
		right: 0.75em;
	}
}
