.offer,
.offer-wrapper,
.offer-carousel-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.offer,
.offer-wrapper {
	flex-direction: column;
}

.offer,
.offer-container,
.offer-wrapper {
	position: relative;
}

.offer-container,
.offer-wrapper {
	width: 100%;
}

.offer {
	padding: 30px 0 90px;
	width: 100%;
	background-color: var(--gray-color);
	color: var(--darker-sea-blue-color);
	overflow: hidden;
}

.offer-wrapper {
	margin: 0 auto;
	max-width: 2160px;
}

.offer-title {
	padding-bottom: 2.5rem;
	color: var(--darker-sea-blue-color);
	font-family: var(--special-font);
	font-size: 4.5rem;
	font-weight: 300;
	text-align: center;
}

.offer-special-block {
	position: absolute;
	bottom: -1px;
	width: 40%;
	height: 40px;
	background-color: var(--sea-blue-color);
	z-index: 80;
}

.offer-special-block--left {
	left: -50px;
	transform: skew(45deg);
}

.offer-special-block--right {
	right: -50px;
	transform: skew(-45deg);
}

@media screen and (min-width: 640px) {
	.offer-title {
		font-size: 5.5rem;
	}
}

@media screen and (min-width: 768px) {
	.offer {
		padding: 30px 0 100px;
	}

	.offer-special-block {
		width: 35%;
		height: 50px;
	}
}

@media screen and (min-width: 990px) {
	.offer-title {
		font-size: 6.5rem;
	}
}

@media screen and (min-width: 1358px) {
	.offer {
		padding-top: 50px;
	}

	.offer-title {
		padding: 0.5rem 0.85rem 2rem;
		width: 100%;
	}

	.offer-special-block {
		width: 42%;
		height: 45px;
	}
}
